
@{
    ViewData["Title"] = "لیست برچسب ها";
    var id = ViewBag.Id;
}

@section Breadcrumb
{
    <nav aria-label="breadcrumb" class="mt-3">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">صفحه اصلی</a></li>
            <li class="breadcrumb-item"><a href="#">لیست برچسب ها</a></li>
            <li class="breadcrumb-item">لیست مقادیر</li>

        </ol>
    </nav>
}

<div class="card text-right">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h1 class="h5">لیست کالاها</h1>
        <div class="action">
            <button type="button" class="btn btn-outline-primary btn-sm" data-toggle="collapse"
                    data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                فیلتر
            </button>
            <a type="button" class="btn btn-outline-success btn-sm" asp-area="Admin" asp-controller="Tag" asp-action="Save">افزودن</a>
        </div>
    </div>
    <div class="card-body">
        <div class="row justify-content-around">
            <div class="col-md-6">
                <div class="collapse" id="collapseExample">
                    <div class="card mb-3">
                        <div class="card-header">فیلتر</div>
                        <div class="card-body">
                            <form action="/" method="post">
                                <input type="hidden" name="id" value="@id" />
                                <div class="form-group row">
                                    <label for="txtTitle" class="col-md-3">عنوان</label>
                                    <div class="col-md-6">
                                        <input class="form-control" name="title" id="txtTitle" />
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="ddStatus" class="col-md-3">وضعیت</label>
                                    <div class="col-md-6">
                                        <select class="form-control" name="state" id="ddStatus">
                                            <option>انتخاب کنید</option>
                                            <option value="1">فعال</option>
                                            <option value="2">غیرفعال</option>
                                        </select>
                                    </div>
                                </div>

                                <button type="submit" class="btn btn-primary">اعمال فیلتر</button>
                            </form>
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col" class="w-25">عنوان</th>

                    <th scope="col" style="width: 8%">وضعیت</th>
                    <th scope="col">ایجاد کننده</th>
                    <th scope="col">آخرین تغییرات</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>
                        <strong><a href="#">سبز</a></strong><br />
                        <span class="text-muted">شناسه :1 </span>
                    </td>

                    <td class="align-middle">فعال</td>
                    <td class="align-middle">
                        <span>میلاد نعمت پور</span><br />
                        <span class="text-muted">تاریخ :1399/01/07 , 16:05</span>
                    </td>

                    <td class="align-middle">
                        <span>میلاد نعمت پور</span><br />
                        <span class="text-muted">تاریخ :1399/01/07 , 16:05</span>
                    </td>

                    <td class="align-middle">
                        <div class="dropdown">
                            <button class="btn dropdown-toggle" type="button" id="ddAction" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                            <div class="dropdown-menu  dropdown-menu-right text-right" aria-labelledby="ddAction">
                                <a class="dropdown-item" href="#">جزئیات</a>
                                <a class="dropdown-item" href="#">لیست مقادیر</a>
                                <a class="dropdown-item" href="#">ویرایش</a>
                                <a class="dropdown-item text-danger" href="#">حذف</a>
                            </div>
                        </div>
                    </td>
                </tr>

            </tbody>

        </table>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>